div.animeCard {
    margin: 5px 0;
    padding: 0 2px;
    width: 16rem;
    height: 23.5rem;
    border-radius: 3px;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #6D6D6D;
    line-height: 1.3rem;
    background-color: #1D1D1D;
    cursor: default;

}

.animeCard:hover {
    color: #aaa;
    transform: translateY(-2px);

}


img.animeCover {
    width: 14rem;
    height: 17rem;
    margin: 1rem;
    transition: transform 0.3s ease;
}

img.animeCover:hover {
    transform: scale(1.1);
}

div.anime-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

div.anime-body a {
    text-decoration: none;
    color: #6D6D6D;
}

div.anime-body a:hover {
    color: #aaa;
}


/* Media Queries */
@media(max-width:1441px) {
    div.animeCard {
        width: 15rem;
        height: 25rem;
    }
}



@media(max-width:451px) {
    div.animeCard {
        width: 11.5rem;
        height: 18rem;
        margin: 0;
    }

    img.animeCover {
        margin: 8px;
        width: 10rem;
        height: 12rem;
        border-radius: 3px;
    }

    .anime-title {
        font-size: 1rem;
    }

    div.react-stars {
        height: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media(max-width: 376px) {
    div.animeCard {
        width: 10.5rem;
        height: 18rem;
        margin: 0;
    }

    img.animeCover {
        margin: 8px;
        width: 10rem;
        height: 12rem;
        border-radius: 3px;
    }

    .anime-title {
        font-size: 1rem;
    }

    div.react-stars {
        height: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}



@media (max-width: 320px) {
    div.animeCard {
        width: 9rem;
        height: 14rem;
    }

    img.animeCover {
        margin: 5px;
        width: 8.5rem;
        height: 9rem;
    }

    .anime-title {
        font-size: 0.8rem;
    }
}