.FavouritesWrapper {
    width: 100%;
    position: relative;
    min-height: 65vh;
}

.myFav {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px 5px;
    justify-content: space-between;
    background-color: #161616;
    padding: 10px 100px;
    color: #6D6D6D;
}

.favHeading {
    color: #fff;
    background-color: #161616;
    text-align: center;
}

.cardWrapper {
    position: relative;
}

#delete-icon {
    display: none;
    position: absolute;
    top: 1%;
    right: 2%;
    font-size: 1.7rem;
    color: rgb(255, 0, 0);
    font-weight: 100;
    cursor: pointer;
    z-index: 1;
}


.cardWrapper:hover #delete-icon {
    display: block;
}

p.no-fav {
    margin: 2rem auto;
    color: #aaa;
    text-align: center;
    font-size: 1.5rem;
}

/* Media Queries */
/* For Smaller laptops and desktops */
@media(max-width:1280px) {
    .myFav {
        padding: 10px 6.25rem;
        grid-template-columns: repeat(4, 1fr);
        justify-items: end;
    }
}

@media(max-width:1024px) {
    .myFav {
        padding: 10px 6.25rem;
        grid-template-columns: repeat(3, 1fr);
        justify-items: end;
    }
}

/* For tablets */
@media(max-width:769px) {
    .myFav {
        padding: 10px 6.25rem;
        grid-template-columns: repeat(2, 1fr);
        justify-items: end;
    }
}

/* For Mobile Devices */
@media(max-width:450px) {
    .FavouritesWrapper {
        min-height: 55vh;
    }

    .myFav {
        padding: 10px 10px;
        grid-template-columns: repeat(2, 1fr);
        justify-items: end;
    }

    .favHeading {
        font-size: 1.5rem;
    }

    #delete-icon {
        display: block;
    }
}

@media(max-width:376px) {
    .myFav {
        padding: 10px 10px;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px 5px;
        justify-items: end;
    }
}

@media(max-width: 321px) {
    .myFav {
        padding: 10px 10px;
        grid-template-columns: repeat(2, 1fr);
        justify-items: end;
    }

}