div.contains_searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.background {
    height: 15rem;
    width: 86.5%;
    background: url('../assets/banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

div.searchBar {
    width: 50%;
    min-height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -18%;
}

div.searchBar input {
    height: 4rem;
    width: 35rem;
    padding: 20px;
    border-radius: 5px;
    border: none;
    font-size: 1.5rem;
    background: #fff;
}

div.searchBar input:focus {
    outline: none;
    border: none;
}

div.search-icon {
    height: 4rem;
    width: 5rem;
    background: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 4%;
}

ion-icon#searchIcon {
    font-size: 2rem;
    /* color: #aaa; */
    color: rgba(0, 0, 0, 0.47);
    border: none;
    cursor: pointer;
}

/* Media Queries */
@media(max-width:451px) {
    div.background {
        height: 10rem;
        width: 90.5%;
    }

    div.searchBar {
        width: 2rem;
        min-height: 3rem;
        bottom: -10%;
    }

    div.searchBar input {
        height: 3rem;
        width: 17rem;
        font-size: 1.2rem;
        padding: 10px;
    }

    div.search-icon {
        height: 1.5rem;
        width: 2rem;
        right: -6.3rem;
    }

    ion-icon#searchIcon {
        font-size: 1.8rem;
    }
}

@media (max-width: 320px) {
    div.background {
        height: 8rem;
        width: 86.5%;
    }

    div.searchBar {
        width: 2rem;
        min-height: 1.5rem;
        bottom: -10%;
    }

    div.searchBar input {
        height: 2rem;
        width: 15rem;
        font-size: 0.9rem;
        padding: 10px;
    }

    div.search-icon {
        height: 1.5rem;
        width: 2rem;
        right: -6.3rem;
    }

    ion-icon#searchIcon {
        font-size: 1.8rem;
    }
}