@import url('https://fonts.googleapis.com/css2?family=Diphylleia&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Diphylleia', serif;
}

body {
    background-color: #161616;
}


div.app {
    width: 100%;
}


/* Scrollbar CSS */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: #6D6D6D;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(255, 0, 0);
    border-radius: 10px;
}